body {
    width: 100%;
    height: 100%;
    position: absolute;
    direction: rtl;
    overflow: hidden;
    background-color:#e1e2e0;
}
#startPage2{
    visibility: hidden;
}
@font-face {
    font-family: varela;
    src: url("assets/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: horev;
    src: url("assets/horev/horevclm-heavy-webfont.ttf");
}

.title{
    font-size: 12vw;
    position: absolute;
    color:#160F29;
    text-align: center;
    width: 80vw;
    top: 3vh;
}
* {
    font-family: varela;
    overflow: hidden;
    background-size: 100% 100%;
    margin: 0;
}

.bg {
    background-image: url(assets/SVG/bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 81vw;
    height: 50vh;
    position: absolute;
    bottom: -15vh;
    left: 0;
}
.bgTop {
    background-image: url(assets/SVG/bgTop.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70vw;
    height: 60vh;
    position: absolute;
    top: -20vh;
    right: 0;
}

.graphics {
    width: 17vh;
    height: 17vw;
    position: absolute;
    left: 2vw;
    left: 3vw;
    bottom: 0.7vh;
}
#driver1{
    width: 19vw
}
#comnder1{
    width: 14vw;
}
.horev{
    font-family: horev;
}
#open-screen {
    width: 100vw;
    height: 100vh;
}

.startBut {
    width: 25vw;
    height: 7vh;
    top: 64vh;
    border: 0.5vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    z-index: 20;
}
#Month{
    right: 20vw;
}
#Week{
    left: 20vw;
}

.startBut1 {
    width: 80vw;
    height: 16vh;
    top: 51vh;
    right: 10vw;
    border: 0.5vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    z-index: 20;
    margin-top: 5vh;
}
.startBut2 {
    top: 15vh;
    margin-top: 0;
}
.startBut3 {
    top: 33vh;
    margin-top: 2vh;
}
.arrowBut {
    top: 67vh;
    position: absolute;
    right: 70vw;
    width: 18vw;
    height: 7vh;
    visibility: hidden;
    z-index: 1;
}

#textStart {
    font-size: 2.4vh;
    text-align: center;
    padding: 2vh;
    z-index: 20;
    position: relative;
    color: #D8BFAA;
}
#textCommander {
    font-size: 2.4vh;
    text-align: center;
    padding: 1vh;
    z-index: 20;
    position: relative;
    color: #D8BFAA; 
}

.titlePuma1 {
    width: 65vw;
    top: 20vh;
    right: 17.5vw;
    text-align: center;
    color:#096B72;
    font-size: 40vw;
    font-family: horev;
    position: absolute;
    animation: titleAnimation 1s 1 forwards;
    z-index: 20;
    background-color: transparent;
}

.buttonAlert {
    background-color: #096B72;
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 20vh;
    right: 10vw;
}

@keyframes titleAnimation {
    from {
        top: 0vh;
        opacity: 0.1;
    }

    to {
        top: 10vh;
        opacity: 1;
    }
}

@-webkit-keyframes titleAnimation {
    from {
        top: 0vh;
        opacity: 0.1;
    }

    to {
        top: 10vh;
        opacity: 1;
    }
}

.ExTitlePuma {
    text-align: center;
    color:#096B72;
    font-size: 22vw;
    font-family: horev;
    height: 15vh;
    position: absolute;
    top: 3vh;
    right: 10vw;
    width: 80vw;
    line-height: 8vh;
}

   
#scrolBut {
    right: 25vw;
    width: 50vw;
    height: 15vh;
    z-index: 20;
    position: absolute;
    bottom: 5vh;
}

#exBut{
    width: 25vw;
    height: 7vh;
    top: 75vh;
    z-index: 25;
    right: 50vw;
    border: 0.5vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    visibility: hidden;
}
#commanderBut {
    width: 25vw;
    height: 7vh;
    top: 75vh;
    z-index: 25;
    right: 50vw;
    border: 0.5vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    visibility: hidden;
}
#explantionText {
    text-align: center;
    top: 12vh;
    right: 13vw;
    font-size: 3.3vh;
    width: 75vw;
    height: 70vh;
    position: absolute;
}
#explantionTextLink {
    text-align: center;
    top: 12vh;
    right: 13vw;
    font-size: 3.3vh;
    width: 75vw;
    height: 70vh;
    position: absolute;
}
#explantionPage {
   visibility: hidden;
}
span {
    font-weight: bold;
    margin-right: 7vw;
}

#treatmentpage {
    visibility: hidden;
    z-index: 20;
    position: absolute;
}

.scroll {
    width: 100vw;
    height: 65vh !important;
    /* position: absolute; */
    top: 11vh;
    /* left: 20vw; */
    /* overflow-y: scroll; */
    font-size: 5vw;
}

.orangeLine {
    height: 100%;
    top: 0;
    width: 2vw;
    right: 0;
    background-color:#D8BFAA;
    position: absolute;
}

#itemList {
    width: 94vw;
    height: 100%;
    right: 3vw;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    direction: ltr;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

.conteinerCheckBox{
    width: 79vw;
    height: 3vh;
    margin-top: 1.5vh;
    margin-right: 9vw;
    direction: rtl;
}
.checkmark {
    border:0.5vw solid rgb(121, 121, 121);
    position: absolute;
    right: 0%;
    width: 6vw;
    height: 3vh;
    border-radius: 1vw;
}
.checkmark1 {
    border:0.5vw solid#D8BFAA;
}
.vi {
    left: 1.9vw;
    top: 0.3vh;
    width: 1.7vw;
    height: 1.7vh;
    border: solid white;
    border-width: 0 0.7vw 0.7vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.containerTut {
    position: relative;
    right: 7vw;
    /* top: 1vh; */
    /* bottom: 1vh; */
}

.treatmentpageExTitle{
    text-align: center;
    color: #096B72;
    font-size: 10vw;
    visibility: hidden;
    position: absolute;
    top: 11vh;
    right: 23vw;
   width: 50vw;
  
}
.treatmentpageExTitleLong{
    top: 17vh;
}
.treatmentpageEx2{
    top: 18vh;
    text-align: center;
    font-size: 4.3vw;
    visibility: hidden;
    position: absolute;
    right: 2.5vw;
    width: 95vw;
}
.treatmentpageEx{
    text-align: center;
    font-size: 4.3vw;
    visibility: hidden;
    position: absolute;
    top: 14vh;
    right: 2.5vw;
    width: 95vw;
}

#logo{
    width: 17vw;
    height: 10vh;
    position: absolute;
    top: 2vh;
    left: 1vh;
    z-index: 1;
}

/* This styles the aside container */
.aSide {
    height: 50vh;
    width: 90vw;
    position: absolute;
    top: 17vh;
    right: 7%;
    z-index: 10;
}

/* This styles the 3D object inserted in the aside container */
.aSide model-viewer {
    height: 50vh;
    width: 90vw;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
.aSideLittle {
    height: 20vh;
    width: 90vw;
    position: absolute;
    bottom: 0%;
    right: 7%;
    z-index: 10;
}

/* This styles the 3D object inserted in the aside container */
.aSideLittle model-viewer {
    height: 20vh;
    width: 90vw;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
.aSideEnd {
    height: 17vh;
    width: 90vw;
    position: absolute;
    bottom: 0vh;
    right: 7%;
    z-index: 10;
}

/* This styles the 3D object inserted in the aside container */
.aSideEnd model-viewer {
    height: 17vh;
    width: 90vw;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
.sheerClear{
    height: 25vh;
    width: 100vw;
    position: absolute;
    background-color: transparent;
    bottom: 0%;
    z-index: 23;
}
#playBtn{
    position: absolute;
    top: 74vh;
    width: 20vw;
    height: 10vh;
    right: 25vw;
    visibility: hidden;
    z-index: 20;
}
#blackCover{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
    z-index: 40;
}
#closeBut{
    color: white;
    position: absolute;
    font-size: 14vw;
    right: 5vw;
    z-index: 41;
    background-color: transparent
}
#play{
    visibility: hidden;
}

.containerText {
    font-size: 4vw;
}

#startBut {
    width: 25vw;
    height: 7vh;
    top: 65vh;
    right: 37.5vw;
    border: 0.1vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    z-index: 20;
}

.butAlert {
    width: 25vw;
    height: 7vh;
    top: 59vh;
    right: 32.5vw;
    border: 0.1vw solid #D8BFAA;
    border-radius: 6vw;
    box-shadow: 0 1vw 2vw 0 rgb(0 0 0 / 0.2);
    position: absolute;
    z-index: 20;
}

.butTextAlert {
    font-size: 2vh;
    text-align: center;
    padding: 1vh;
    z-index: 20;
    position: relative;
    color: #D8BFAA;
}

#alert {
    visibility: hidden;
    width: 80vw;
    right: 10vw;
    position: absolute;
    height: 80vh;
    top: 15vh;
    font-size: 4.5vw
}

#alertVideo {
    visibility: hidden;
}
.alertVideo {
    position: absolute;
    top: 20vh;
    right: 10vw;
    width: 80vw !important;
    height: 30vh !important;
}

#ultraBack {
    visibility: hidden;
}
.returnBtn {
    width: 10vw;
    height: 10vh;
    position: absolute;
    bottom: 10vh;
    right: 2vw;
}

.videoBlack {
    top: 20vh;
    right: 10vw;
    width: 80vw !important;
    height: 20vh !important;
    z-index: 50;
}

.videoFlex {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 1vh;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    right: 5vw;
    justify-content: center;
    align-items: center;
}